body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
    border:2px solid blue;
}

.flex-grids {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); 
    width: 400px;
    height: 400px; 
    border: 1px solid #000;
  }
  
.column {
    border: 1px solid black;
}